CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_mt7622=y
CONFIG_TARGET_mediatek_mt7622_DEVICE_ruijie_rg-ew3200gx=y
CONFIG_LIBMBEDTLS_HAVE_ARMV8CE_AES=y
CONFIG_PACKAGE_libmbedtls=y
CONFIG_LIBCURL_OPENSSL=y
CONFIG_PACKAGE_openssl-util=y

CONFIG_PACKAGE_kmod-ipt-offload=y
CONFIG_PACKAGE_kmod-nf-flow=y

CONFIG_PACKAGE_luci=y
